.login-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  margin: 1em 0 2em 0;
}

.login-input-wrapper,
.signup-input-wrapper {
  margin: 1.5em auto 0 auto;
}

.login-input-wrapper input,
.signup-input-wrapper input {
  padding: .5em .25em;
}

.login-input-wrapper input::placeholder,
.signup-input-wrapper input::placeholder {
  color: rgb(167, 167, 167);
}

.login-form-label,
.signup-form-label {
  font-size: .75em;
  margin: 0 0 .5em 0;
  display: block;
}

.login-result-message,
.signup-result-message {
  min-height: 1.5rem;
  font-size: .9rem;
  color: rgb(222, 7, 7);
  text-align: center;
  visibility: hidden;
}

.login-result-message.visible,
.signup-result-message.visible {
  visibility: visible;
}

.login-result-message.loading,
.signup-result-message.loading {
  color: rgb(27, 27, 27);
}

.login-submit-btn,
.signup-submit-btn {
  margin: 1em auto;
}